*{
    margin:0;
    padding: 0;
}
body{
margin-left: 20px;
margin-right: 20px;
background-color: darkgray;
font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 100%;
    background-color: white;
    margin: 0px 150px 0px 150px;
    padding: 10px;
    color: orangered;
}
.profile-image{
    height: 140px;
    width: 100px;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
}
.intro{
    float: left;
    padding: 30px;
}
.header-contact {
    float: right;
    padding-top: 40px;      
}
.header-contact a{
    text-decoration: none;
    font-weight: bold;
    color: orangered;        
}
.header-contact a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: crimson;       
}
.div-clear{
    clear: both;
}

.content{
    margin-bottom: 20px;
}
hr{
    border: solid black 2px;
    margin: 10px auto;
    margin-top: 20px;
    border-bottom: none;
}

/*----
Starting Personal Section Design
----*/

#personal-section{


}
.left-div{
    width: 30%;
    float: left
}

.right-div{
    width: 70%;
    float: left;
}

.common-hr{
    border: solid black 1px;
    border-bottom: none;
    
    margin-top: 20px auto:
    
}
.right-left-div{
    width: 45%;
    float: left;
}
.right-right-div{
    width: 45%;
    float: left;
    margin-left: 30px; 
}

#bottom{
    background-color: black;
    max-width: 100%;
    font-size: 15px; 
    text-align: center; 
    color: white;  
}
#bottom a{
    color: white;
    text-decoration: underlined;
    padding: 20px;
    font-size: 12px;
}













